table {
  width: 100%;
}
table,
td {
  padding: 20px;
}

.title{
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  text-align: center;
  font-size: 30px;
}
.img-title{
  font-size: 30px;
}


